/* Styles  */

/* Layout */

.container-large {
  max-width: 960px;
  margin: 0 auto;
}

header {
  width: 100%;
  margin: 2rem 1rem;
}

nav ul {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  list-style: none;
}
nav ul li:last-child {
  margin-left: auto;
}

main {
  text-align: center;
}

.jumbo {
  margin-top: 28vh;
  font-size: 70px;
  font-weight: 700;
  text-align: center;
  letter-spacing: -0.03em;
}
.subtitle {
  margin: 1rem auto;
  line-height: 22.82px;
}
.subtitle span {
  font-weight: 700;
}

@media only screen and (min-width: 768px) {
  .jumbo {
    margin-top: 28;
    font-size: 117px;
  }
  .subtitle {
    max-width: 60%;
  }
}
